[Desktop Entry]
Name=Install drivers for Arduino (x64)
Exec=env "WINEPREFIX=/home/Prayrain/.wine" wine "C:\\\\ProgramData\\\\Microsoft\\\\Windows\\\\Start Menu\\\\Programs\\\\Proteus 8 Professional\\\\Hardware Drivers\\\\Install drivers for Arduino (x64).lnk"
Type=Application
StartupNotify=true
Path=/home/Prayrain/.wine/drive_c/Program Files (x86)/Labcenter Electronics/Proteus 8 Professional/Tools/ARDUINO/drivers/
Icon=BD43_dpinst-amd64.0
StartupWMClass=dpinst-amd64.exe
